/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 mars 2020, 21:59:36
    Author     : Kency
*/


body{
    min-height: 100%;
    margin:0;
    padding:0;
}



html{
    height: 100%;
    margin:0;
    width:100%;
}

header{
    width:80%;
    margin:auto;
    height: 75px;
    border-bottom: 4px solid #444E4D;
}

header #logo{
    float: left;
    width:66%;
    
}

header #articles,header #compte, header #panier{
    text-align: center;
    width:11%;
    display: inline-block;
    color:#434D4C;
}

#articles img{
    width:25px;
    height:25px;
}

div#logo img{
    width:200px;
}

#logo,#articles,#compte,#panier{
    cursor:pointer;
}

#compte img{
    width:25px;
    height:25px;
}

div#panier img{
    width:40px;
    height:40px;
    margin-bottom: -6px;
}

a{  color:black;
    text-decoration: none;
}

a:visited{
    color:black;
}

/* ------------------------------------------------------- */


#corps{
    min-height: 100%;
    width: 80%;
    padding-bottom:60px;
    margin-top:100px;
    margin-left:auto;
    margin-right: auto;
    background:#f5f4f2;
    border-radius:15px;
    text-align: center;
}

h1{
    padding-top:20px;
    padding-left:20px;
    padding-bottom: 20px;
    text-align:left;
    font-size:1.8rem;
    font-weight:300;
    color:#0e3368;
    font-family:Ubuntu,sans-serif;
}


#corps #form_profil{
    vertical-align: middle;
    height: 250px;
    display: inline-block;
    text-align:center;
    margin-left:10px;
    width:60%;
    background: white;
    box-shadow:2px 2px 4px black;
}

#corps #form_profil p{
    text-align: right;
    display:inline-block;
    margin-right:30px;
    margin-bottom: 25px;
}

#corps #motdepasse{
    vertical-align: middle;
    height: 135px;
    padding-top:110px;
    margin-right:10px;
    display: inline-block;
    width:25%;
    background: #c4efff;
    border:2px solid transparent;
    box-shadow:2px 2px 4px black;
    border-radius: 0 8px 8px 0;
    font-weight:14px;
    font-weight: bold;
    
}

#corps #motdepasse:hover{
    background: #c4e8ff;
    border:2px solid black;
}

#corps #form_profil p input{
    margin-top:10px;
    border: none;
    border-bottom: 2px solid black;
}

#corps #form_profil input[type=submit]{
    margin-top:10px;
    width: 70px;
    padding: 5px;
    background: #c4efff;
    border-radius:5px;
    border: 2px solid #f5f4f2;
}

#corps #form_profil input[type=submit]:hover{
    cursor: pointer;
    border: 2px solid #abcdef;
}

#voile{
    display: none;
    margin-top:-5px;
    min-width:100%;
    min-height: 89.8%;
    background:rgba(0,0,0,0.5);
    position:absolute;
    z-index: 1;
}

#favDialog{
    
    display: none;
    text-align: left;
    z-index: 2;
    position: absolute;
    left:65%;
    background: white;
    width:350px;
    font-size:16px;
    border-radius:0 0 20px 20px;
    color: #0e3368;
    font-family: Ubuntu,sans-serif;
}

#profil,#deconnexion,#historique{
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
    width:290px;
    height: 20px;
    margin:auto;
}

#profil,#historique{
    border-bottom:1px solid #0e3368;
}

#deconnexion{
    border-radius:0 0 20px 20px;
}

#profil:hover,#deconnexion:hover,#historique:hover{
    cursor:pointer;
    color:rgb(113,194,255);
}

#favDialog img{
    float:right;
    width:15px;
}

